* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  max-width: 5rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }
}

body main .intro {
  background-color: #d3b98d;
  display: flex;
  justify-content: baseline;
  padding: 2em;
  gap: 5%;
}

body main .intro .text h1 {
  font-size: xxx-large;
  margin-bottom: 2%;
}

body main .intro .text {
  width: 70%;
}

body main .intro .text p {
  font-size: xx-large;
  margin: 2%;
}

body main .intro .text .boton-productos {
  padding: 1%;
  margin: 3% 2%;
  background: #c29a56;
  width: fit-content;
  border-radius: 10px;
  font-size: larger;
  box-shadow: 8px 10px 10px black;
  border: solid black 1px;
}

body main .intro img {
  width: 20%;
}

body main .cards {
  display: flex;
  justify-content: space-around;
  padding: 3em 2em;
  gap: 1%;
  background-color: #f6f0e3;
}

body main .cards .calidad {
  width: 32vw;
  background-color: #d3b98d;
  padding: 1%;
  text-align: center;
  border-radius: 10px;
  font-size: x-large;
  border: solid 1% rgb(108, 87, 61);
  box-shadow: 8px 10px 10px black;
  border: solid black 1px;
}

body main .cards .compromiso {
  width: 32vw;
  background-color: #d3b98d;
  padding: 1%;
  text-align: center;
  border-radius: 10px;
  font-size: x-large;
  box-shadow: 8px 10px 10px black;
  border: solid black 1px;
}

body main .cards .valores {
  width: 32vw;
  background-color: #d3b98d;
  padding: 1%;
  text-align: center;
  border-radius: 10px;
  font-size: x-large;
  box-shadow: 8px 10px 10px black;
  border: solid black 1px;
}

body main .formulario {
  text-align: center;
  background-color: #d3b98d;
  padding: 1%;
}

body main .formulario h1 {
  margin: 2%;
}

body main .formulario .info {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 3%;
}

body main .formulario .info .nom {
  width: fit-content;
  font-size: large;
  padding: 1%;
  border-radius: 8px;
  background-color: #f6f0e3;
  border: solid 2px black;
}

body main .formulario .info .tel {
  width: fit-content;
  font-size: large;
  padding: 1%;
  border-radius: 8px;
  background-color: #f6f0e3;
  border: solid 2px black;
}

body main .formulario .info .apel {
  width: fit-content;
  font-size: large;
  padding: 1%;
  border-radius: 8px;
  background-color: #f6f0e3;
  border: solid 2px black;
}

body main .formulario .info .correo {
  width: fit-content;
  font-size: large;
  padding: 1%;
  border-radius: 8px;
  background-color: #f6f0e3;
  border: solid 2px black;
}

body main .formulario textarea {
  padding: 0.5%;
  border-radius: 10px;
  background-color: #f6f0e3;
  font-size: large;
  border: solid 2px black;
  font-family: sans-serif;
}

body main .formulario button {
  margin: 1%;
  background-color: #c29a56;
  padding: 1% 1%;
  border-radius: 10px;
  font-size: large;
}

body footer .high-footer {
  text-align: center;
  display: flex;
  padding: 1%;
  background-color: #f6f0e3;
}

body footer .high-footer ul li {
  list-style: none;
}

body footer .high-footer .localizacion {
  width: 34vw;
}
body footer .high-footer .contacto {
  width: 34vw;
}
body footer .high-footer .redes {
  width: 34vw;
}

body footer .low-footer {
  background: #c29a56;
  text-align: center;

  padding: 1%;
}

.descuento {
  background-color: #c29a56;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
/*Style para detalles.html*/
.productos {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr 1.5fr 1.5fr 0.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  grid-template-areas:
    ". producto1 producto2 producto3 ."
    ". producto4 producto5 producto6 ."
    ". producto7 producto8 producto9 .";
}

.producto1 {
  grid-area: producto1;
  
}

.producto2 {
  grid-area: producto2;
}

.producto3 {
  grid-area: producto3;
}

.producto4 {
  grid-area: producto4;
}

.producto5 {
  grid-area: producto5;
}

.producto6 {
  grid-area: producto6;
}

.producto7 {
  grid-area: producto7;
}

.producto8 {
  grid-area: producto8;
}

.producto9 {
  grid-area: producto9;
}

.card {
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 10%;
  background-image: url(https://www.narava.es/20573-large_default/bobina-hilo-algodon-ecologico-organic.jpg);
  background-size: 96%;
  
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.carrito{

    padding-left: 83%;
    padding-top: 5%;
    transition: transform 0.5s ease-out, filter 0.5s ease-out; /* Agregar una transición al elemento de imagen */
}
.carrito:hover {
    transform: scale(1.05); /* Agrandar la imagen al pasar el cursor sobre ella */
    
  }

.descripcionArticulo,
.precio {
  display: inline-block;
  padding-top: 72%;
  padding-left: 5%;
  }

  .precio {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
    color: #C29A56;
    font-size: 24px;
    text-shadow: 1px 1px #000000;
    transition: transform 0.5s ease-out; /* Agregar una transición de 0.5s para un movimiento suave */
  }
  
  .card:hover .precio {
    transform: scale(1.05); /* Aumentar el tamaño en un 5% al pasar el cursor sobre el elemento */
  }
  .descripcionArticulo {
    display: inline-block;
    margin-right: 20px;
    color: #4F4F4F;
    transition: border-bottom 0.5s ease-out;
  }
  
  .descripcionArticulo span {
    padding: 2px 5px;

  }
  
  .card .descripcionArticulo span {
    transition: background-color 0.5s ease-out; /* Agregar una transición para la propiedad de color de fondo */
  }
  
  .card:hover .descripcionArticulo span {
    background-color: #C29A56; /* Agregar un color de fondo al elemento solo al pasar el cursor sobre el producto */
    color: #000000;
    border-radius: 10%;
  }
  
  
  
